@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Comfortaa:wght@500;600;700&family=Fredericka+the+Great&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.comfortaa{
  font-family: 'Comfortaa', cursive;
}

.fatface{
  font-family: 'Abril Fatface', cursive !important;
}

.bee{
  font-family: 'Bree Serif', serif !important;
}

.fred{
  font-family: 'Fredericka the Great', cursive !important;
}

.mouse-rat{
  font-family: 'Montserrat', sans-serif !important;
}

.logo {
  letter-spacing: 0.2rem;
  font-size: 2.5rem !important;
}

.bree-banner {
  font-size: 2rem;
  height: 3rem;
  font-weight: 500;
  line-height: 120%;
}

.abril-banner{
  letter-spacing: 0.2rem; 
  font-size: 2.5rem;
  height: 3rem;
  font-weight: 500;
  line-height: 120%;
}

/* BUTTONS */

.btn{
  font-family: 'Montserrat', sans-serif !important;
}

.button{
  font-weight: 500 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.bitcoin-img {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.loading-background{
  height: 90vh;
  width: 98vw;
}